fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
pinecone>=2.2.0
PyPDF2==3.0.1
langchain>=0.0.312
langchain-core>=0.1.0
langchain-text-splitters>=0.0.1
langchain-huggingface>=0.0.1
langchain-pinecone>=0.0.1
python-dotenv==1.0.0
sentence-transformers==2.2.2
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
transformers==4.35.2
